{:paths   ["src/main" "resources"]
 :deps    {org.clojure/clojure            {:mvn/version "1.10.3"}
           org.clojure/clojurescript      {:mvn/version "1.10.844"}

           com.fulcrologic/fulcro         {:mvn/version "3.4.21"}
           ;com.fulcrologic/fulcro {:git/url "https://github.com/fulcrologic/fulcro.git"
           ; latest 3.5 version to trial the new floating roots
           ;:sha "dd19ec9dcbebef18b14f43839288dd313c800693"}

           org.clojure/tools.analyzer     #:mvn{:version "1.0.0"},
           nextjournal.clojure-mode       {:git/url "https://github.com/nextjournal/clojure-mode"
                                           :sha     "11a48c90bd1e17916c9aa9afcb2b25477ecfeb83"}

           com.fulcrologic/guardrails     {:mvn/version "1.1.4"}
           com.taoensso/encore            {:mvn/version "2.117.0"}
           com.taoensso/timbre            {:mvn/version "4.10.0"
                                           :exclusions  [org.clojure/tools.reader]}
           medley/medley                  {:mvn/version "1.3.0"}
           better-cond/better-cond        {:mvn/version "2.1.0"}
           meander/epsilon                {:mvn/version "0.0.469"}
           zprint/zprint                  {:mvn/version "0.5.3"}
           dev.freeformsoftware/metacomet {:git/url "https://github.com/JJ-Atkinson/metacomet.git"
                                           :sha     "f738fc49092bbd39c14904d7b60f03110d875a6b"}

           com.wsscode/pathom             {:mvn/version "2.2.28"}
           hiccup/hiccup                  {:mvn/version "1.0.5"}
           http-kit/http-kit              {:mvn/version "2.5.0"}
           mount/mount                    {:mvn/version "0.1.16"}
           org.clojure/core.async         {:mvn/version "1.3.610"}
           ring/ring-core                 {:mvn/version "1.8.1"}
           ring/ring-defaults             {:mvn/version "0.3.2"}}

 :aliases {:dev {:extra-paths ["src/dev" "src/test" "src/workspaces"]
                 :extra-deps  {binaryage/devtools                  {:mvn/version "1.0.2"}

                               thheller/shadow-cljs                {:mvn/version "2.12.6"}
                               com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.0"}
                               com.github.awkay/workspaces         {:mvn/version "1.0.1" :scope "provided"}
                               org.clojure/tools.namespace         {:mvn/version "1.0.0"}}}}}
