@import url('react-grid-layout-styles.css');
@import url('react-resizable-styles.css');

.root, .over-content-position, #app, body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

.over-content-position {
    position: absolute;
    top: 0;
    left: 0;
}

.modal-background {
    background-color: rgba(211, 211, 211, 0.18);
}

.status-bar {
    font-size: 16px;
    height: 1.4em;
    background-color: #444;
}

.offset-status-bar-height {
    background-color: transparent;
    font-size: 16px;
    height: 1.4em;
}

.whichkey-root {
    background-color: #333;
    min-height: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-content: flex-start;
    padding: 0.5em;
}

.whichkey-root .whichkey-item {
    padding: 0.2em 0 0.2em 0.4em;
    width: 10em;
    max-width: 10em;
    background-color: #444;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex; 
    align-items: center;
    gap: 4px;
}

.whichkey-root .whichkey-item.whichkey-group-identifier {
    border-right: 0.4em solid #777;
}

.whichkey-item .whichkey-dot {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #999;
}

.whichkey-root .whichkey-item:hover {
    cursor: default;
    background-color: #b66eff;
    color: rgb(17, 17, 17);
    border: none;
    padding-right: 0.4em;
}

.whichkey-item:hover .whichkey-dot {
    background-color: rgb(17, 17, 17);
}


.react-grid-item.react-resizable {
    background-color: #333;
    padding: 2px 4px;
    border-radius: 2px;
}

.cm-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    overflow-y: auto;
    height: 100%;
}

.cm-card .cm-card-header {
    flex-shrink: 0;
    flex-grow: 0;
}

.cm-card .cm-editor-root {
    flex-grow: 1;
    overflow-y: auto;
}

.tab-panel {
    border-bottom: 1px solid #aaa;
}

.tab-panel > .tab, .tab-panel > .tab-add  {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 6px 4px 8px;
}

.tab-panel > .tab, .tab-panel > .tab *, .tab-panel > .tab-add {
    cursor: pointer;
    user-select: none;
}

.tab-panel > .tab:hover, .tab-panel > .tab.active, .tab-panel > .tab-add:hover {
    background-color: #555;
}

.tab-panel > .tab i:hover {
    background-color: #37214d;
}

.react-draggable, .cursor {
    cursor: move;
}
.no-cursor {
    cursor: auto;
}